<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E2442_UnboundDataFromDetail.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Public\Documents\DevExpress 2010.1 Demos\Components\Data\nwind.mdb&quot;" />
    </connectionStrings>
</configuration>